@page
@model TravelBug.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Traveler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TravelerCoordinator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traveler.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelerCoordinator.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
